<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap Files -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
		
		<!-- CSS Linking -->
		<link rel="stylesheet" href="static/style.css">
		<title>Social CS News</title>
	</head>
	<body class="bodyContainer">
		<!-- Navbar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Social Computer Science News</a>
				</div>
			</div>
		</nav>
		<br>
		<div class="container-fluid">
			<!-- Main Body -->
			<center><h1>Welcome!</h1></center>
			<br><br><br><br>
			<form action="/InsertIntoDatabase/" method="post">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" id="Id" name="Id" placeholder="ID">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name">
				</div>
				<br>
				<center>
					<button type="submit" class="btn btn-primary">Insert Details</button>
				</center>
			</div>
			</form>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
						</tr>
					</thead>
					<tbody>
						{% for i in lst %}
						<tr>
							<td>{{i[0]}}</td>
							<td>{{i[1]}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<!-- Footer -->
		<div class="container-fluid footerContainer">
			<div class="col-md-3">
				<center>
					<h5>Guided By:</h5>
					<h5>Prof. Bina Ramamurthy</h5>
				</center>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-3">
					<center><h5>Contact Us:</h5>
					<h5>Lavish Mishra - lavishmishra8827@gmail.com</h5>
					<h5>Sakshi Modi - sakshi.modi.22@gmail.com</h5></center>
			</div>
			<center>
			<h5>Copyright of University at Buffalo CSE 586 Distributed Systems</h5>
			<h5>All Rights Reserved</h5>
			</center>
		</div>
	</body>
</html>